:root {
  --logo-color: #5d5d6d;
  --bg-primary: #F0F0F5;
  --bg-secundary: #f3f5f6;
  --text-dark: #737380;
  --text-dark-2: #42414D;
  --shapes-dark: #09090A;
  --shapes: #DCE2E6;
  --delete-color: #de3838;
  --color-oragen: #FFA585;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}